<ion-view title="" id="page7" style="">
	<ion-content padding="true" class="has-header">

		<div class="emptyCart" ng-show="ITEMS.length <= 0">
			{{ErrorMessage}}
			<br /><br />
			<!--<button ng-click="GoToHome()">Continue Shopping</button>-->
		</div>

		 <div>
	  	<div class="row">
	  		<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  			<div class="Titel"><h1>{{"lbl_my_shoppimh_cart" | translate}}</h1></div>
	  		</div>
	  	</div><!--Tittle Row-->

	  	<div class="row">
	  		<div class=" continueShop col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  			<button ng-click="GoToHome()">VERDER WINKELEN</button>
	  		</div>
	  	</div>
		 </div>
		<div class="Cart_Page" ng-show="ITEMS.length > 0">	 		
			<div class="row">
				<div class="Cart col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row heading">
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_products" | translate}}</div>
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8"></div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_price" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_qty" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_total" | translate}}</div>
						</div>
					</div><!--Heading Row-->
					<div class="row responsive">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="Desc col-xs-6">{{"lbl_desc" | translate}}</div>
							<div class="price col-xs-6">{{"lbl_price" | translate}}</div>
						</div>
					</div><!--Heading Row for responsive-->
					<div class="row Content" ng-repeat="itm in ITEMS">
						<div class=" image col-xs-5 col-sm-2 col-md-2 col-lg-2"><a ng-click="showPDetail(itm.ProductId)"> <img src="{{itm.IMAGE}}" /></a></div>
						<div class=" cart_ProductText col-xs-7 col-sm-10 col-md-10 col-lg-10">
							<div class="row CartDetail">
								<div class=" nameCartProduct col-xs-12 col-sm-6 col-md-6 col-lg-8"><a ng-click="showPDetail(itm.ProductId)"> <p class="nameCartProduct">{{itm.NAME}}</p></a></div>
								<div class="priceDiv col-xs-12 col-sm-2 col-md-2 col-lg-1"> {{itm.PRICE}}</div>
								<div class="qtyDiv col-xs-12 col-sm-2 col-md-2 col-lg-1">
									<!--<input id="CQty" value="{{itm.QTY}}"  ng-model="myVal" ng-click="update_item(a.CartItemId,a.ProductId,myVal)" type="text"/>-->
									<input id="CQty" value="{{itm.QTY}}" type="text" readonly="readonly" />
									<div class="cartincdec">
										<a ng-click="increaseItemCount(itm.QTY,itm.CartItemId, itm.ProductId)" id="inc1242" class="inc buttoncart">+</a>
										<a ng-click="decreaseItemCount(itm.QTY,itm.CartItemId, itm.ProductId)" id="dec1242" class="dec buttoncart">-</a>

									</div>

								</div>
								<div class="Tot col-xs-12 col-sm-2 col-md-2 col-lg-2">{{itm.TOTAL}}</div>
							</div>
							<div class="row CartDelete">
								<div class=" deleteIcon col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<a href="" ng-click="del_item(itm.CartItemId,itm.ProductId)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

					</div><!--Content Row-->
				</div><!--Cart-->
			</div><!--Cart Products-->
			<!--Total-->
			<div class="row CartTotel">
				<!--<div class="row" ng-show="totalcartPrice.data.RedeemedRewardPoints>0">-->
				<div class="row" ng-show="totalcartPrice.data.RedeemedRewardPoints>0">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total squre-btn-div">{{totalcartPrice.data.RedeemedRewardPoints}} {{"lbl_rewardpoints" | translate}} </div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign" id="totalLoyaltyPoints">{{totalcartPrice.data.RedeemedRewardPointsAmount}}</div>
					<input name="removediscount-1" value="X" title="Remove" class="remove-discount-button" type="submit" ng-click="RemoveLoyality()" />
				</div>
				<div class="row" ng-show="totalcartPrice.data.OrderTotalDiscount > 0">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total">{{"lbl_discount" | translate}}</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign">{{totalcartPrice.data.OrderTotalDiscount}}</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total">{{"lbl_total" | translate}}</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign">{{totalcartPrice.data.OrderTotal}}</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total squre-btn-div">{{"lbl_loyality_pts" | translate}}</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign">{{totalcartPrice.data.WillEarnRewardPoints}} {{"lbl_points" | translate}}</div>
				</div>


				<div class="row">
					<div class="col-xs-5 col-sm-6">&nbsp;</div>
					<div class="col-xs-7 col-sm-6 rightAlign">
						<div class="CheckoutBtn col-sm-12 col-md-12 col-lg-12">
							<!--<button ng-click="proceedToPay(totalcartPrice.data.OrderTotal)">Checkout</button>-->
							<button ng-click="ConfirmOrder()">{{"btn_complete_order" | translate}}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

			

				<div class="optionclass col-xs-6 col-sm-6" data-ng-repeat="option in checkattributes">
					<ul>
						<li>
							<div id="Dv{{option.Id}}">{{option.Name}}</div>
							<input id="optionId" type="hidden" value="{{option.Id}}" />

							<div data-ng-repeat="choice in option.Values">
								<div ng-if="option.AttributeControlType==2">
									<ul>
										<li>										
											<input type="radio" id="attributes{{choice.Id}}" name="attributes" data-ng-model="choice.Id" data-ng-value="choice.Id"
													 ng-click="setselectedOption(option.Id,choice.Id)" required="required" />
						{{choice.Name}}	<br />
											
</li>
									</ul>
								</div>
							</div>
							<div ng-if="option.AttributeControlType==4" class="dvaddress">
								<ul>
									<li>
										<input type="text" name="attributes" id="orderTextbox" ng-change="AlltibuteValBox(option.Id,myValue)" ng-model="myValue" required="required" />
										<span class="validatecss">*</span> 										
									</li>
								</ul>

							</div>

						</li>
					</ul>


				</div>

			</div>
			<div class="row"></div>

			<div class="row">
				<div class="CartValid Loyality-div">
					<div class="row">
						<div class="ValidName col-xs-4 col-sm-3 col-md-2 col-lg-2"><p class="LoyalityCode">{{"lbl_loyality_pts_use" | translate}}</p></div>
						<div class="ValidText col-xs-4 col-sm-2 col-md-2 col-lg-2">
							<input type="number" id="tLoyality" min="0" max="totalcartPrice.data.RedeemedRewardPoints" />
						</div>

						<div class="ValidBtn col-xs-4 col-sm-2"><button ng-click="ApplyLoyality()">{{"btn_to_apply" | translate}}</button></div>
					</div>
					<div class="row">
						<!--{{"lbl_use_my_reward_pts" | translate}} {{Loyalitydetails.RewardPointsBalance}} {{"lbl_rewardpoints" | translate}}
		 ({{Loyalitydetails.RewardPointsAmount}}) {{"lbl_availble" |translate}}-->
						<div class="ValidName">
							<p class="LoyalityCode">{{"lbl_loyaltybalance" | translate}}</p></div>								
						<div class="ValidPoint">{{Loyalitydetails.RewardPointsBalance}}</div>
						</div>
						<div class="row">
							<div class="loyality-div-text" id="loyality-div">&nbsp;</div>
						</div>
					</div>

			</div>


			<div class="row" style="display:none">
				<div class="CartValid Loyality-div">
					<div class="row">
						<div class="ValidName col-xs-4 col-sm-3 col-md-2 col-lg-2"><p class="DiscountCode">{{"lbl_discount_code" | translate}}</p></div>
						<div class="ValidText col-xs-4 col-sm-2 col-md-2 col-lg-2"><input type="text" id="tDiscount"></div>
						<div class="ValidBtn col-xs-4 col-sm-2 col-md-2 col-lg-2"><button ng-click="ApplyCoupon()">{{"btn_to_apply" | translate}}</button></div>
					</div>
					<div class="row" id="Applied-Coupon-Section">
						<div class="loyality-div-text sub1"> {{"lbl_coupn_applied" |translate}} </div>
						<div class="loyality-div-text sub">
							{{"lbl_enter_cc" | translate}} - {{DiscountCode}}
							<input type="hidden" value="{{CouponId}}" id="dicountCode" />
							<input name="removediscount-1" value="X" title="Remove" class="remove-discount-button" type="submit" ng-click="RemoveCoupon()">
						</div>
					</div>
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>
