<ion-view style="" id="page34" title="">
	<ion-content class="has-header" padding="true">
		<h2 style="color: rgb(94, 85, 85); text-align: justify;" id="signup-heading3">{{"lbl_chnageheading" | translate}}</h2>
		<div class="signup_form">

			<form class="list" id="password-form3" name="passwordForm">
				<ion-list>
					<label>{{response.message}}</label>
					<div class="form-group" ng-class="{ 'has-error' : passwordForm.OldPassword.$invalid && !passwordForm.OldPassword.$pristine }">
						<span class="boldTitle">
							<label>{{"lbl_Olpass" | translate}}</label>
						</span>
						<label class="item item-input">
							<input type="password" name="OldPassword" ng-model="data.OldPassword" required="required">
						</label><span class="validatecss">*</span>
						<span class="help-block" ng-show="passwordForm.OldPassword.$error.required">
							{{"lbl_Olpassvalidate" | translate}}
						</span>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : passwordForm.NewPassword.$invalid && !passwordForm.NewPassword.$pristine }">
						<span class="boldTitle">
							<label>{{"lbl_newpass" | translate}}</label>
						</span>
						<label class="item item-input">
							<input type="password" name="NewPassword" ng-model="data.NewPassword" required="required">
						</label>
						<span class="validatecss">*</span>
						<span class="help-block" ng-show="passwordForm.NewPassword.$error.required">
							{{"lbl_newpassvalidate" | translate}}
						</span>
						
					</div>

					<div class="form-group" ng-class="{ 'has-error' : passwordForm.ConfirmNewPassword.$invalid && !passwordForm.ConfirmNewPassword.$pristine }">
						<span class="boldTitle">
							<label>{{"lbl_confirmnewpass" | translate}}</label>
						</span>
						<label class="item item-input">
							<input type="password" name="ConfirmNewPassword" ng-model="data.ConfirmNewPassword"  required="required" />
						</label>
						<span class="validatecss">*</span>
						<span class="help-block" ng-show="passwordForm.ConfirmNewPassword.$error.required">
							{{"lbl_confirmnewpassvalidate" | translate}}
						</span>
						
					</div>

					<button ng-click="ChangePWD(data)" class="button button-energized button-block ">{{"lbl_passbutton" | translate}}</button>
				</ion-list>
			</form>

		</div>
	</ion-content>
</ion-view>
