<ion-view title="" id="page32" style="">

	<ion-content padding="true" class="has-header">

		<div class="Cart_Page">
			
			<div class="Confirm-Div">
				<div class="row">
					<div class="page-title">
						<h2>{{"lbl_confirmorder" | translate}}</h2>
					</div>
				</div>
				<div class="row">
					<div class="buttons">
						<!--<input name="nextstep" value="Confirm" class="button-1 confirm-order-next-step-button" type="submit">-->
						<button ng-click="placeOrder()">{{"lbl_confirmbutton" | translate}}</button>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="billing-info-wrap">
					<div class="payment-method-info">
						<div class="title">
							<strong>{{"lbl_payment" | translate}}</strong>
						</div>
						<ul class="info-list">
							<li class="payment-method">
								<span>
									{{"lbl_paymentmethod" | translate}}
								</span>
								<span class="value">
									{{"lbl_worldline" | translate}}
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>



			<div class="row">
				<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="Titel"><h1>{{"lbl_ordersummary" | translate}}</h1></div>
				</div>
			</div><!--Tittle Row-->
			<div class="row">
				<div class="Cart col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row heading">
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_product2" | translate}}</div>
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8"></div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_price" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_qty" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_total" | translate}}</div>
						</div>
					</div><!--Heading Row-->
					<div class="row responsive">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="Desc col-xs-6">{{"lbl_desc" | translate}}</div>
							<div class="price col-xs-6">{{"lbl_price" | translate}}</div>
						</div>
					</div><!--Heading Row for responsive-->
					<div class="row Content" ng-repeat="a in CartITEMS">
						<div class=" image col-xs-5 col-sm-2 col-md-2 col-lg-2"><img src="{{a.IMAGE}}" /></div>
						<div class=" cart_ProductText col-xs-7 col-sm-10 col-md-10 col-lg-10">
							<div class="row CartDetail">
								<div class=" nameCartProduct col-xs-12 col-sm-6 col-md-6 col-lg-8">{{a.NAME}}</div>
								<div class="priceDiv col-xs-12 col-sm-2 col-md-2 col-lg-1"> {{a.PRICE}}</div>
								<div class="qtyDiv col-xs-12 col-sm-2 col-md-2 col-lg-1">
									{{"lbl_qty" | translate}}: {{a.QTY}}
								</div>
								<div class="Tot col-xs-12 col-sm-2 col-md-2 col-lg-2">{{a.TOTAL}}</div>
							</div>

						</div>

					</div><!--Content Row-->
				</div><!--Cart-->
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12" >
					<div class=" col-xs-6 col-sm-6 col-md-6"><b>Bestellingswijze:</b>{{Delivery}}
					</div>
					<div class=" col-xs-6 col-sm-6 col-md-6">
						<b>Gevraagd Tijdstip:</b> {{cChkAttOptionValue}}
					</div>
				 </div>

					
				</div>
			<!--Cart Products-->
			<!--<div class="row CartTotel">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>	
				<div class="Total col-xs-6 col-sm-2 col-md-2 col-lg-2">{{"lbl_total_disc" | translate}}:</div>
				<div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-2">{{totalprice.data.OrderTotalDiscount }}</div>
			</div>-->
			<!--Cart Total-->
			<div class="row CartTotel">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"></div>
				<div class="Total col-xs-6 col-sm-2 col-md-2 col-lg-2">{{"lbl_total" | translate}}</div>
				<div class="Ammount col-xs-6 col-sm-2 col-md-2 col-lg-2">{{totalprice.data.OrderTotal}}</div>
			</div><!--Cart Total-->




			<div class="row CartTotel">
				<div class="row" ng-show="totalprice.data.WillEarnRewardPoints>0">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total squre-btn-div">{{totalprice.data.RedeemedRewardPoints}}   {{"lbl_rewardpoints" | translate}}</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign" id="totalLoyaltyPoints">{{totalprice.data.RedeemedRewardPointsAmount}}</div>
				</div> 				
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 leftAlign">
						<div class="div-total squre-btn-div">{{"lbl_youwill" | translate}}</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 rightAlign">{{totalprice.data.WillEarnRewardPoints}} {{"lbl_points" | translate}}</div>
				</div>



			</div>
			<div class="row" style="margin-top:10px;">
				<div class="buttons" style=" margin: 10px 0 20px; padding: 0 15px;">
					<!--<input name="nextstep" value="Confirm" class="button-1 confirm-order-next-step-button" type="submit">-->
					<button ng-click="placeOrder()">{{"lbl_confirmbutton" | translate}}</button>
				</div>
			</div>
			</div>

	</ion-content>

</ion-view>

