﻿<ion-view title="" id="page36" style="">
	<ion-content padding="true" class="has-header">

		<div class="BlogInside_page">
			<div class="ProductBox">
				<div class="row">
					<div class="ProductTitle NewsInside col-xs-12 col-sm-12">
						<div class="under-Container">
							<div class="Titel"><h1>Gebruikersvoorwaarden</h1></div>
						</div><!--under-Container-->
					</div><!--ProductTitle News-->
				</div><!--Tittle Row-->
				<div class="row">
					<div class=" newsInsideContent under-Container">
						<div class="FullNews col-xs-12 col-sm-12 ">	 							
							<!--<div class="FullNews-Content col-xs-12 col-sm-12 ">
								<div class="FullNews-Name col-xs-12 col-sm-12 ">-->
							<div class="col-xs-12 col-sm-12 " ng-bind-html="disclaimerData.Body">

							</div>
								<!--</div>
							</div>-->

						</div><!--newsInsideContent-->
					</div><!--Row-->
				</div><!--ProductBox-->
			</div><!--NewsInside_page-->
		</div>
	</ion-content>
</ion-view>