<ion-view title="">

<ion-content padding="'true'" class="has-header">

		<div class="update-form" ng-controller="editProfileCtrl">
			<form class="list" id="signup-form3">
				<ion-list>

					<ion-item class="item-divider">Update your Profile Details Here!</ion-item>
					<div class="editProfileImg">
						<img src="http://oxcfe-test.be/content/images/thumbs/0000131_100.jpeg" alt="profilePic" />
						</div>
						<div class="editProfileBtn">
							<button ng-click="ChangePicture()" class="buttonChange">Change Picture</button>
							<button ng-click="RemovePicture()" class="buttonRemove">Remove Picture</button>
						</div>

						<label class="item item-input">
							<input type="text" placeholder="Your First Name" id="Firstname" ng-model="Firstname">
						</label>

						<label class="item item-input">
							<input type="text" placeholder="Your Lastname" id="Lastname" ng-model="Lastname">
						</label>

						<label class="item item-input">
							<input type="email" placeholder="Your Email" id="Email" ng-model="Email">
						</label>


						<label>
							Gender:  &nbsp; &nbsp; &nbsp;&nbsp;
							<input type="radio" ng-model="myVar" value="dogs" class="gender">Male&nbsp; &nbsp;
							<input type="radio" ng-model="myVar" value="tuts" class="gender">Female
						</label>

						<button ng-click="update()" class="button button-balanced button-block">Update Profile</button>

</ion-list>
			</form>
		</div>


	</ion-content>
</ion-view>
