
<ion-view title="" id="page29" style="">
	<ion-content padding="true" class="has-header">	
		<div class="page email-a-friend-page">
			<div class="page-title">
				<h1>{{"lbl_friendemail" | translate}}</h1>
			</div> 						
			<form class="list" id="EmailForm" name="EmailForm" novalidate>
				<ion-list>

					<div class=" form-group" ng-class="{ 'has-error' : EmailForm.FriendEmail.$invalid && !EmailForm.FriendEmail.$pristine }">
				<label for="FriendEmail">{{"lbl_friend" | translate}}</label>
				<label class="item item-input">
					<input type="email" placeholder="Enter friend's email." id="FriendEmail" name="FriendEmail" ng-model="data.FriendEmail" required>
				</label><span class="validatecss">*</span>
						<!--<p ng-show="EmailForm.FriendEmail.$error.required && EmailForm.FriendEmail.$error.email" class="help-block">Enter valid emailId</p>-->
						<span class="error" ng-show="EmailForm.FriendEmail.$error.required">
							{{"lbl_required" | translate}}
						</span>
						<span class="error" ng-show="EmailForm.FriendEmail.$error.email">
							{{"lbl_notvalidemail" | translate}}
						</span>
		
</div>

					<div class="form-group" ng-class="{ 'has-error' : EmailForm.lname.$invalid && !EmailForm.lname.$pristine }">
						<label for="YourEmailAddress"> {{"lbl_youremail" | translate}}</label>
						<label class="item item-input">
							<input type="email" placeholder="Enter your email address." id="YourEmailAddress" name="YourEmailAddress" ng-model="data.YourEmailAddress" required>
						</label><span class="validatecss">*</span>
						<!--<p ng-show="EmailForm.YourEmailAddress.$error.required && EmailForm.YourEmailAddress.$error.pattern" class="help-block">Enter valid emailId</p>-->
						<span class="error" ng-show="EmailForm.YourEmailAddress.$error.required">
						{{"lbl_required" | translate}}
						</span>
						<span class="error" ng-show="EmailForm.YourEmailAddress.$error.email">
							{{"lbl_notvalidemail" | translate}}
						</span>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : EmailForm.PersonalMessage.$invalid && !EmailForm.PersonalMessage.$pristine }">
						<label for="PersonalMessage">{{"lbl_message" | translate}}</label>
						<label class="item item-input">
							<textarea type="text" placeholder="Enter personal message (optional)." id="PersonalMessage" name="PersonalMessage" ng-model="data.PersonalMessage" required></textarea>
						</label>

					</div>
					<button ng-click="EmailToFriend(data)" class="button button-energized button-block">{{"lbl_sendbutton" | translate}}</button>
				</ion-list>
			</form>	
			</div>




	</ion-content>
</ion-view>
