<ion-view title="" hide-back-button="true" id="page1" style="">
	<ion-content padding="true" class="has-header">
		<div>
			<!--<img src="{{banner.Picture1Url}}" alt="image1" />-->
			<ion-slides style="width:100%;height:200px;" id="home-slider1" options="{'autoplay':3500,speed:4000}" slider="slider1" delegate-handle="slider1">
				<ion-slide-page id="home-slide25">
					<div class="box blue">
						<img ng-src="{{banner.Picture1Url}}" alt="image1" />
					</div>
				</ion-slide-page>
				<ion-slide-page id="home-slide26">
					<div class="box blue">
						<img ng-src="{{banner.Picture2Url}}" alt="image2" />
					</div>
				</ion-slide-page>
				<ion-slide-page id="home-slide27">
					<div class="box blue">
						<img ng-src="{{banner.Picture3Url}}" alt="image3" />
					</div>
				</ion-slide-page>
				<ion-slide-page id="home-slide27">
					<div class="box blue">
						<img ng-src="{{banner.Picture4Url}}" alt="image4" />
					</div>
				</ion-slide-page>
				<ion-slide-page id="home-slide27">
					<div class="box blue">
						<img ng-src="{{banner.Picture5Url}}" alt="image5" />
					</div>
				</ion-slide-page>

			</ion-slides>


			<!--<img alt="Banner Image" src="img/Capa_4_copia.png"/>-->

		</div>
			<div class="Homepage">

			<div class="row categoryLink">
				<a href="#" Id="Dvdag">DAGAANBIEDINGEN</a>
				<a href="#" id="Dvlunch">BROODJES</a>
				<a href="#" id="Dvdrank">DRANKEN</a>
			</div> 
			<div class="ProductBox">
		
		
				<div class="item" id="DvDAGAANBIEDINGEN">
					<div class="ProductSlide">
						<!--<div class="row">
							<div class="ProductTitle breakfast col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="Titel"><h1>{{"lbl_day_offers" | translate}}</h1></div>
							</div>
						</div>--><!--Tittle Row-->
						<div class="row" ng-repeat="a in ITEMS">
							<div class=" products under-Container">
								<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
										<a ng-click="showProductDetail(a.ID)"><img alt="Product Image" src="{{a.IMAGE}}" /></a>
									</div><!--img-->
									<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
										<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10">
												<a ng-click="showProductDetail(a.ID)"><p>{{a.NAME}}</p></a><span>{{a.PRICE}}</span>
											</div>
											<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
										</div><!--ProductName-->
										<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
												<p>{{a.DESC}}</p>
											</div><!--Text-->
											<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
												<span class="qty"><input value="1" id="qty" ng-model="a.QTY" type="number" min="1" ng-init="a.QTY ='1'" /></span>
												<span><button ng-click="addToCart(a.ID,a.QTY)">{{"btn_to_order" | translate}}</button> {{totalItems}}</span>
											</div><!--QtyCart-->
										</div><!--ProductText-->
									</div><!--ProductContent-->
								</div><!--Product-->
							</div><!--Products-->
						</div><!--Product Row-->








					</div><!--under-Container PageNumbers-->
				</div><!--Product Drink Box -->

				<div class="item" id="DvLunch">
								<div class="ProductSlide">
									<!--<div class="row">
										<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="Titel"><h1>{{"lbl_lunch" | translate}}</h1></div>
										</div>
									</div>-->
									<div class="row" ng-repeat="item in LunchITEMS">
										<div class=" products under-Container">
											<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
													<img alt="Product Image" src="{{item.IMAGE}}" ng-click="showProductDetail(item.ID)" />
												</div><!--img-->
												<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
													<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10"><a href="#"><p>{{item.NAME}}</p></a><span>{{item.PRICE}}</span></div>
														<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
													</div><!--ProductName-->
													<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
															<p>{{item.DESC}}</p>
														</div><!--Text-->
														<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
															<span class="qty"><input value="1" id="qty" ng-model="item.QTY" type="number" min="1" ng-init="item.QTY ='1'"></span>
															<span><button ng-click="addToCart(item.ID,item.QTY)">{{"btn_to_order" | translate}}</button></span>
														</div><!--QtyCart-->
													</div><!--ProductText-->
												</div><!--ProductContent-->
											</div><!--Product-->
										</div><!--Products-->
									</div><!--Product Row-->

								</div>
							</div>

							<div class="item" id="DvDranken"> 
								<div class="ProductSlide">	
									<!--<div class="row">
										<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="Titel"><h1>{{"lbl_drinks" | translate}}</h1></div>
										</div>
									</div>-->
									<div class="row" ng-repeat="a in DINNERITEMS">
										<div class=" products under-Container">
											<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
													<img alt="Product Image" src="{{a.IMAGE}}" ng-click="showProductDetail(a.ID)">
												</div><!--img-->
												<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
													<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10"><a href="#"><p>{{a.NAME}}</p></a><span>{{a.PRICE}}</span></div>
														<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
													</div><!--ProductName-->
													<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
															<p>{{a.DESC}}</p>
														</div><!--Text-->
														<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
															<span class="qty"><input value="1" id="qty" ng-model="a.QTY" type="number" min="1" ng-init="a.QTY ='1'"></span>
															<span><button ng-click="addToCart(a.ID,a.QTY)">{{"btn_to_order" | translate}}</button></span>
														</div><!--QtyCart-->
													</div><!--ProductText-->
												</div><!--ProductContent-->
											</div><!--Product-->
										</div><!--Products-->
									</div><!--Product Row-->
									</div>
								</div>
					  

			</div>
		</div>


		<script type="text/javascript">
			$(document).ready(function ()
			{
				$('#DvDAGAANBIEDINGEN').show();
				$('#DvLunch').show();
				$('#DvDranken').show();
				
								
				$('#Dvdag').click(function ()
				{
					$('#DvDAGAANBIEDINGEN').show();
					$('#DvLunch').hide();
					$('#DvDranken').hide();
				});
				$('#Dvlunch').click(function ()
				{
					$('#DvLunch').show();
					$('#DvDranken').hide();
					$('#DvDAGAANBIEDINGEN').hide();
				});
				$('#Dvdrank').click(function ()
				{
					$('#DvDranken').show();
					$('#DvDAGAANBIEDINGEN').hide();
					$('#DvLunch').hide();
				});
				
	$('.categoryLink a').click(function(){
    $('.categoryLink a').removeClass("active");
    $(this).addClass("active");
});
				
			});

		</script>
	</ion-content>
</ion-view>

