<ion-view style="" id="page4" title="">
	<ion-content padding="true" class="has-header">
		<div class="login_img">
			<div class="Titel"><h1>{{"lbl_login" | translate}}</h1></div>
		</div>

		<div class="login_form">
			<form class="list" name="myForm" novalidate>
				<ion-list>
					<label class="item item-input">
						<input id="loginEmail" ng-model="user.email" type="text" placeholder="Username" required>
					</label>
					<label class="item item-input">

						<input id="loginPass" ng-model="user.password" type="password" placeholder="Password" ng-minlength="4" required>
					</label>
				</ion-list>
				<div class="inputs reversed">
					<input id="RememberMe" type="checkbox" ng-model="check" ng-change="RemeberCred(check)" ng-true-value=1 ng-false-value=0>
					<input name="RememberMe" value="false" type="hidden">
					<label for="RememberMe">{{"btn_remember_me" | translate}}</label>
					<span class="forgot-password">
						<!--<a href="/passwordrecovery">Forgot password?</a>-->
						<a href="" class="" ng-click="showPopup()">{{"link_forgot_pwd" | translate}}</a>
					</span>
				</div>


				<button class="button button-stable button-block " ng-click="login()">{{"btn_login" | translate}}</button>
				<!--ng-disabled="myForm.$invalid"-->

				<div class="row linksbtn" ng-show="showRegister">
					<a href="#/side-menu21/page5" class="button button-positive button-clear button-block creat_account">{{"btn_register" | translate}}</a>
				</div>
				<p>
					<!--{{available}}-->
				</p>

			</form>
		</div>
	</ion-content>
</ion-view>
