<ion-side-menus enable-menu-with-back-views="true" style="">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<!--<ion-nav-back-button></ion-nav-back-button>-->
			<div class="toggle-Options">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
				<a ng-click="homeLogo()" id="lnkHome" class="navbar-brand" href=""><img alt="Logo" src="img/Logo.png" /></a>
				</div>
			<!--<ion-nav-buttons side="left">
				
			</ion-nav-buttons>-->
		</ion-nav-bar>
		<ion-nav-view name="side-menu21"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" id="side-menu21">
		<ion-header-bar class="bar-stable">
			<div class="title">Menu</div>
		</ion-header-bar>
		<ion-content padding="false" class="side-menu-left has-header ">
			<ion-list id="menu-list1">
				<ion-item id="menu-list-item1" ui-sref="menu.home()" menu-toggle="left" style="">HOME/BESTELLEN</ion-item>
			
				<!--<ion-item id="menu-list-item6" ui-sref="menu.news()" menu-toggle="left" style="" ng-show="showprofilelink">News &amp; Promo</ion-item>-->
				
				<ion-item id="menu-list-item4" menu-toggle="left" style="" ng-show="showprofilelink">
					{{"menu_myaccount" | translate}}
					<div class="item item-divider">
						<a id="menu-list-item4" ui-sref="menu.profile()">{{"menu_ox_membership" | translate}}</a>
					</div>
					<div class="item item-divider">
						<a id="menu-list-item4" ui-sref="menu.myOrders()">{{"menu_my_order" | translate}}</a>
					</div>
				</ion-item>			
				<ion-item id="menu-list-item5" ui-sref="menu.news()" menu-toggle= "left" style="">{{"menu_news_promo" | translate}}</ion-item>
				<ion-item id="menu-list-item5" ui-sref="menu.blog()" menu-toggle="left" style="">{{"menu_blog" | translate}}</ion-item>	  				
				<ion-item id="menu-list-item2" ui-sref="menu.login()" menu-toggle="left" style="" ng-show="showloginlink">{{"menu_login" | translate}}</ion-item>
				<ion-item id="menu-list-item3" menu-toggle="left" style="" ng-click="logout()" ng-show="showprofilelink">{{"menu_logout" | translate}}</ion-item>
				<ion-item id="menu-list-item7" ng-click="GotoCart()" menu-toggle="left" style="">{{"menu_shopping_cart" | translate}}</ion-item>
				<ion-item id="menu-list-item6" ui-sref="menu.disclaimer()" menu-toggle="left" style="">GEBRUIKERSVOORWAARDEN</ion-item>
				<ion-item id="menu-list-item8" ui-sref="menu.Aboutus()" menu-toggle="left" style="">OVER OX</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>