<ion-view style="" id="page19" title=""> 	
    <ion-content padding="'true'" class="has-header">		 	
	 	<div class="Your_order"> 
	 		<div class="order_title">
	 			<h4>{{"lbl_myorder" | translate}}</h4>	  	 			
	 		</div><!--order_total-->	
			<div class="orderedProducts" ng-repeat="a in ordersdata">  
				<div class="orderItems"> 
					<div class="OrderDetail"> 
						<div class="OrderProductDetail Ordered">	 
							<ul>
								<li><span class="OrderProName">{{"lbl_ordernumber" | translate}}</span>  <span>{{ a.ID }}</span></li>
								<li><span class="OrderProName">{{"lbl_orderdate" | translate}}</span>  <span>{{a.CREATEDON | date}}</span></li>
							</ul>
							<!-- <p><span>Order Number:</span> <span class="odrNumber" ng-click="showOrderInfo(a.ID)"></span></p> -->
							<p><span>{{"lbl_orderstatus" | translate}}</span> <span class="odrStatus">{{ a.ORDERSTATUS }}</span></p>
							<p><span>{{"lbl_paymentstatus" | translate}}</span> <span class="odrPayment">{{a.PAYMENTSTATUS}}</span></p>
							<!--<p><span>Shipping Status:</span> <span class="odrShipping">{{a.SHIPPINGSTATUS}}</span></p>-->
							<p><span>{{"lbl_ordertotal" | translate}}</span> <span class="odrTotal">{{a.ORDERTOTAL}}</span></p>
						</div><!--OrderProductDetail-->

					</div><!--OrderDetail-->

				</div><!--orderItems-->
				<div class="orderOption">
					<a href=""><p class="vod" ng-click="showOrderInfo(a.ID)">{{"lbl_vieworder" | translate}}</p></a>
				</div><!--orderOption-->

			

			</div><!--orderedProducts-->
	<div ng-show="ordersdata.length == 0">
				<span class="OrderProName">{{"lbl_noOrder" | translate}}</span>
</div>
	 	</div><!--Your_order-->

</ion-content>
</ion-view>