﻿<ion-view title="" id="page27" style="">
	<ion-content padding="true" class="has-header">

		<div class="NewsInside_page" ng-controller="newsDetailsCtrl">
			<div class="ProductBox">
				<div class="row">
					<div class="ProductTitle NewsInside col-xs-12 col-sm-12">
						<div class="under-Container">
							<div class="Titel"><h1>{{"lbl_news" | translate}}</h1></div>
						</div><!--under-Container-->
					</div><!--ProductTitle News-->
				</div><!--Tittle Row-->
				<div class="row">
					<div class=" newsInsideContent under-Container">
						<div class="FullNews col-xs-12 col-sm-12">
							<div class="FullNews-Img col-xs-12 col-sm-12 ">

								<img src="{{newsDetailData.PictureModel.ImageUrl}}" alt="Image" />
							</div><!--img-->
							<div class="FullNews-Content col-xs-12 col-sm-12">
								<div class="FullNews-Name col-xs-12 col-sm-12">
									<div class="col-xs-12 col-sm-12 " ng-bind-html="newsDetailData.Full">

									</div>
								</div><!--FullNews-Name-->
							</div><!--FullNews-Content-->

						</div><!--FullNews-->


					</div><!--newsInsideContent-->
				</div><!--Row-->
			</div><!--ProductBox-->
		</div><!--NewsInside_page-->

	</ion-content>
</ion-view>
