
<ion-view title="" id="page8" style="">
  <ion-content padding="true" class="has-header">
  <div class="Newspage"> 
<div class="ProductBox">
<div class="row">
<div class="ProductTitle News col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="under-Container">
<div class="Titel"><h1>{{"lbl_news" | translate}}</h1></div> 
</div><!--under-Container-->    
</div><!--ProductTitle News-->
</div><!--Tittle Row-->
<div class="row">
<div class=" products newsContent under-Container">
<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<div class="ProductContent col-xs-12 col-sm-12" ng-repeat="a in ITEMS | startFrom: currentPage*pageSize | limitTo:pageSize">  
		<div class="ProductImg col-xs-12 col-sm-12">
			<img src="{{a.Image}}" alt="Image" ng-click="newsDetail(a.ID)" /></div><!--img-->
	
		<div class="ProductName col-xs-12 col-sm-12">
				<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p id="pNews" ng-click="newsDetail(a.ID)">{{a.TITLE}}</p></div>
			</div><!--ProductName-->
			<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>{{a.DESC}}</p>
			</div><!--ProductText-->
			<div class="ReadMore col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span><button id="news-button" ng-click="newsDetail(a.ID)">{{"lbl_readmore" | translate}}</button></span>
			</div><!--Read More-->
		</div><!--ProductContent-->
	</div><!--Product-->
</div><!--Products-->
</div><!--Product Row--> 
<div class="under-Container">
<div class="PageNumbers"> 
<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">&lt;</button>
<button ng-disabled="currentPage >= ITEMS.length/pageSize-1" ng-click="currentPage=currentPage+1">&gt;</button>
 </div><!--PageNumbers-->
</div><!--under-Container PageNumbers-->

</div><!--ProductBox-->
</div>

  </ion-content>
</ion-view>