<ion-view title="" id="page17">

	<ion-content padding="'true'" class="has-header">
		<h5 style="text-align:center">{{"lbl_orderhistory" | translate}} </h5>
		<hr>

		<div class="view_order_detail">
			<div class="order_total">
				<h4>{{"lbl_vieworder" | translate}}</h4>
				<div class="orderDetail">
					<ul>
						<li>{{"lbl_orderdate" | translate}}</li>
						<li>{{orderData.CreatedOn | date}}</li>
						<li class="reorder-btn" style="float:right"> <button class="button button-ion" ng-click="reorder(orderData.Id)">{{"lbl_reorder" | translate}}</button></li>
					</ul>
					<ul>
						<li>{{"lbl_order" | translate}}</li>
						<li>{{orderData.CustomOrderNumber}}</li>
					</ul>
					<ul>
						<li>{{"lbl_ordertotal" | translate}}</li>
						<li>{{orderData.OrderTotal}}</li>
					</ul>
					<ul>
						<li>{{"lbl_paymentmethod" | translate}}</li>
						<li>{{orderData.PaymentMethod}}</li>
					</ul>
					<ul>
						<li>{{"lbl_paymentstatus" | translate}}</li>
						<li>{{orderData.PaymentMethodStatus}}</li>
						<li class="reorder-btn" style="float:right" ng-show="orderData.PaymentMethodStatus == 'Pending'"> <button class="button button-ion" ng-click="retryOrder(orderData.Id)">{{"lbl_retry" | translate}}</button></li>
					</ul>

					
				</div><!--orderDetail-->
			</div><!--order_total-->

		</div><!--view_order_detail-->
		<!--<div ng-repeat="a in myorderdata">-->


		<div class="Cart_Page orderdetails">
			<div class="row">
				<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="Titel"><h3>{{"lbl_products" | translate}}</h3></div>
				</div>
			</div><!--Tittle Row-->
			<div class="row">
				<div class="Cart  col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row heading">
						<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_product" | translate}}</div>
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8"></div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_price" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">{{"lbl_qty" | translate}}</div>
							<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">{{"lbl_total2" | translate}}</div>
						</div>
					</div><!--Heading Row-->
					<div class="row responsive">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="Desc col-xs-6">{{"lbl_desc" | translate}}</div>
							<div class="price col-xs-6">{{"lbl_price" | translate}}</div>
						</div>
					</div><!--Heading Row for responsive-->
					<div class="row Content" ng-repeat="a in myorderdata">
						<div class=" image col-xs-5 col-sm-2 col-md-2 col-lg-2">
							<a ng-click="GotoProductDetail(a.ID)"><img src="{{a.PICTUREURL}}" /></a>
						</div>
						<div class=" cart_ProductText col-xs-7 col-sm-10 col-md-10 col-lg-10">
							<div class="row CartDetail">
								<div class=" nameCartProduct col-xs-12 col-sm-6 col-md-6 col-lg-8">
									<a ng-click="GotoProductDetail(a.ID)"><p class="nameCartProduct">{{a.PRODUCTNAME}}</p></a>
								</div>
								<div class="priceDiv col-xs-12 col-sm-2 col-md-2 col-lg-1"> {{a.PRICE}}</div>
								<div class="qtyDiv col-xs-12 col-sm-2 col-md-2 col-lg-1">
									{{"lbl_qty" | translate}}	{{a.QUANTITY}}				
								</div>
								<div class="Tot col-xs-12 col-sm-2 col-md-2 col-lg-2">{{a.SUBTOTAL }}</div>
							</div>
						</div>

					</div><!--Content Row-->
				</div><!--Cart-->
			</div><!--Cart Products-->
		</div>

		<!--</div>-->

	</ion-content>
</ion-view>
