<ion-view title="" id="page11" style="">

	<ion-content padding="true" class="has-header">
			
		<div class="payment_form"> 
			<iframe name="myiframe1" id="myiframe1" frameborder="0"></iframe>
			<form method="post" target="myiframe1" action="https://payment-web.sips-atos.com/payment" id="formKBC" name="formKBC"> 			
				<input type="hidden" name="redirectionData" value="{{sendData}}">
				<input type="hidden" name="InterfaceVersion" value="IR_WS_2.11">	
				<input type="hidden" name="paymentMeanBrand" value="BCMC" /> 			
				<input type="hidden" name="DEVICE" value="mobile">
				<input type="hidden" name="orderChannel" value="INTERNET">
				<input type="hidden" name="normalReturnUrl" value="http://www.oxcfe.be/api/gotomobileAndroid/{{Orderid}}" />
				<!--<input type="hidden" name="merchantReturnUrl" value="http://www.oxcfe.be/api/gotomobileAndroid/{{Orderid}}" />-->
				<input type="hidden" name="automaticResponseUrl" value="http://www.oxcfe.be/api/gotoNotificationAndroid/{{Orderid}}" />
			
				<input type="submit" id="payment-submit" value="Proceed to payment">
			</form>
			<div>
		  <label>{{resMessage}}</label>		
			</div>  
		</div>
		<!--<div id="DvShopping">
			<button ng-click="GoHome()">Continue Shopping</button>
		</div>-->
				 
	
	</ion-content>

</ion-view>

