<ion-view title="" id="page2" style="">
	<ion-content padding="true" class="has-header">
		<div class="ProductPage">
			<div class="ProductBox LunchBox">
				<div class="row">
					<div class="ProductTitle lunch col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="container">
							<div class="Titel"><h1>LUNCH</h1></div>
						</div>
					</div>
				</div><!--Tittle Row-->
				<div class="row" ng-repeat="a in ITEMS">
					<div class=" products under-Container">
						<div class="Product top col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="ProductImg col-xs-4 col-sm-2 col-md-2 col-lg-2">
								<img alt="Product Image" src="{{a.IMAGE}}" ng-click="showProductDetail(a.ID)" />
							</div><!--img-->
							<div class="ProductContent col-xs-8 col-sm-10 col-md-10 col-lg-10">
								<div class="ProductName col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class=" col-xs-12 col-sm-10 col-md-10 col-lg-10"><a href="#"><p>{{a.NAME}}</p></a><span>{{a.PRICE}}</span></div>
									<div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
								</div><!--ProductName-->
								<div class="ProductText col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="Text col-xs-12 col-sm-7 col-md-8 col-lg-8">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nulla magna, sollicitudin quis ex sed, viverra aliquam nulla. Etiam fermentum augue facilisis enim aliquet, sed vulputate ex rhoncus.</p>
									</div><!--Text-->
									<div class="QtyCart col-xs-12 col-sm-5 col-md-4 col-lg-4">
										<span class="qty"><input value="1" type="number" id="qty" /></span>
										<span><button ng-click="addToCart()">BESTELLEN</button></span>
									</div><!--QtyCart-->
								</div><!--ProductText-->
							</div><!--ProductContent-->
						</div><!--Product-->
					</div><!--Products-->
				</div><!--Product Row-->
				<div class="under-Container">
					<div class="PageNumbers">
						<span class="left"><a class="Arrow" href="#"> &lt; </a></span>
						<span class="active"><a href="#">1</a></span>
						<span><a href="#">2</a></span>
						<span><a href="#">3</a></span>
						<span class="right"><a class="Arrow" href="#">&gt;</a></span>
					</div><!--PageNumbers-->
				</div><!--under-Container PageNumbers-->
			</div><!--Product Lunch Box -->
		</div>
	</ion-content>
</ion-view>