<ion-view title="" id="page3" style="">
	<ion-content padding="true" class="has-header">

		<div class="under-Container">
			<div class="Product-Detail_Page">
				<div class="row">
					<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Titel"><h1>{{"lbl_prodsdetail" | translate}}</h1></div>
					</div>
				</div><!--Tittle Row-->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="Detail_Page">
							<div class="PD-Image col-xs-12 col-sm-5 col-md-5 col-lg-5">
								<div class="row">
									<img alt="Image" class="img-responsive" id="main-product-image" name="main-product-image" src="{{prodetail.data.DefaultPictureModel.FullSizeImageUrl}}" />
								</div>
								<div class="row">
									<ul>
										<li ng-repeat="a in thumbImages">
											<img id="thumb-item" name="thumb-item" alt="Image" src="{{a.THUMBIMAGE}}" onclick="showlargeImage(this);" />
											<label id="{{a.Id}}" name="lblimage" title="{{a.FULLIMAGE}}" style="display:none"></label>
										</li>
									</ul>
								</div>
							</div><!--PD-Image-->
							<div class="PD-Detail col-xs-12 col-sm-7 col-md-7 col-lg-7">
								<div class="row"><h3>{{prodetail.data.Name}}</h3></div>
								<div class="row"><div class=" text col-xs-12 col-sm-11 col-md-11 col-lg-11">{{prodetail.data.FullDescription}}</div></div>
								<div class="row">
									<div class="Price"><span>{{prodetail.data.ProductPrice.Price}} </span></div>
								</div>
								<div class="row">
									<div class="QtyCart">
										<span class="qty"><input value="1" id="qty" min="1" type="number" /></span>
										<span><button ng-click="addToCart(prodetail.data.Id)">{{"btn_to_order" | translate}}</button></span>
									</div><!--QtyCart-->
								</div>
								<div class="row"></div>

							</div>


						</div><!--PD-Detail-->
					</div><!--Detail_Page-->
				</div>
			</div><!--Products Detail-Page-->
			<div class="row">
				<div class="tcb-product-slider">
					<div class="under-Container">
						<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
						<!-- Wrapper for slides -->
						<div ng-show="relatedProducts.length > 0">
							<h5>{{"lbl_maylike" | translate}}e</h5>
						</div>

						<div class="dvRelated">
							<ion-slides style="width:100%;height:200px;" id="product-slider2" options="{pagination: false}" slider="slider2" delegate-handle="slider2">
								<ion-slide-page class="dvitems" ng-repeat="items in relatedProducts">
									<div class="singleitem">
										<div class="itemdiv">
											<img ng-src="{{items.IMAGE }}" ng-click="relatedProductDetail(items.ID)" />
										</div>
										<span class="dvItem_name">{{items.NAME}}</span>
										<span class="dvItem_price">{{items.PRICE}}</span>
									</div>

								</ion-slide-page>
							</ion-slides>
						</div>



						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
		<!--</div>-->
	</ion-content>
</ion-view>

<script type="text/javascript">

	function showlargeImage(element)
	{
	 	$('#main-product-image').attr('src', $(element).next('label').attr('title'));
 	} 


</script>