
<ion-view title="" id="page31" style="">
	<ion-content padding="true" class="has-header">

		<div class="page AddReviews-page">



			<div class="page-title">
				<h1>{{"lbl_prodreviews" | translate}}</h1>
			</div>
			<div class="page email-a-friend-page">
				<div class="Review-title">
					<strong>{{"lbl_writereview" | translate}}</strong>
				</div>
				<form class="list" id="review-form3" name="ReviewForm" novalidate>
					<ion-list>

						<div class="form-group" ng-class="{ 'has-error' : ReviewForm.FriendEmail.$invalid && !EmailForm.FriendEmail.$pristine }">
							<label for="Rtitle">{{"lbl_reviewtitle" | translate}}</label>
							<label class="item item-input">
								<input type="text" id="ReviewTitle" name="ReviewTitle" ng-model="data.ReviewTitle" required>
							</label>
							<p ng-show="ReviewForm.ReviewTitle.$error.required" class="help-block"> {{"lbl_rvwtitlereq" | translate}}</p>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : ReviewForm.ReviewText.$invalid && !ReviewForm.ReviewText.$pristine }">
							<label for="ReviewText">{{"lbl_rvwtext" | translate}}</label>
							<label class="item item-input">
								<textarea type="text" id="ReviewText" name="ReviewText" ng-model="data.ReviewText" required></textarea>
							</label>

						</div>
						<div class="form-group" ng-class="">
							<label for="Rating">{{"lbl_rating" | translate}}</label>
							<label class="item item-input">
								<ul>
									<li class="label first">{{"lbl_bad" | translate}}</li>
									<li class="rating-options">
										<input data-val="true" data-val-number="The field Rating must be a number." id="addproductrating_1" name="AddProductReview.Rating" value="1" type="radio">
										<input id="addproductrating_2" name="AddProductReview.Rating" value="2" type="radio">
										<input id="addproductrating_3" name="AddProductReview.Rating" value="3" type="radio">
										<input id="addproductrating_4" name="AddProductReview.Rating" value="4" type="radio">
										<input checked="checked" id="addproductrating_5" name="AddProductReview.Rating" value="5" type="radio">
									</li>
									<li class="label last">{{"lbl_exc" | translate}}</li>
								</ul>
							</label>

						</div>
						<button ng-click="AddReviews(data)" class="button button-energized button-block ">{{"lbl_submitrvw" | translate}}</button>
					</ion-list>
				</form>

			</div>


			<div class="product-review-list">
				<div class="title">
					<strong>{{"lbl_exitrvw" | translate}}</strong>
				</div>
				<div class="product-review-item" ng-repeat="rvw in reviewsData">
					<div class="review-item-head">
						<div class="review-title">
							<strong>{{rvw.Title}}</strong>
						</div>
						<div class="product-review-box">
							<div class="rating">
								<div style="width: 100%">
									({{rvw.Rating}})<img src="img/Star.png" alt="star" />
								</div>
							</div>
						</div>
					</div>
					<div class="review-content">
						<div class="review-text">
							{{rvw.ReviewText}}
						</div>
						<div class="review-info">
							<span class="user">
								<label>{{"lbl_exitrvw" | translate}} {{"lbl_from" | translate}}</label>
								{{rvw.CustomerName}}
							</span>
							<span class="separator">|</span>
							<span class="date">
								<label>{{"lbl_date" | translate}}</label>
								<span>{{rvw.WrittenOnStr}}</span>
							</span>
						</div>


					</div>
				</div>

				<div class="product-review-item" ng-show="reviewsData.length <= 0">
					<span>{{resMessage}}</span>
				</div>

			</div>


		</div>
	</ion-content>
</ion-view>
