<ion-view title="" id="page6" style="">
	<ion-content padding="true" class="has-header">
		<div class="under-Container">
			<div class="Profile_Page">
				<div class="ProductBox">
					<div class="row">
						<div class="ProductTitle col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="Titel"><h1>{{"lbl_profile" | translate}}</h1></div>
						</div>
					</div><!--Tittle Row-->
					<div class="row">
						<div class="ProInfo col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
							<div class="ProDetail col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="ProSize">
									<!--<div class="row proHeading">
										<div class="Profile Title col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<button>PROFILE</button>
										</div>
										<div class="Profile Name col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<button>MIJN BESTELLINGEN</button>
										</div>
									</div>-->
									<div class="row fullProfile">
										<div class="ProPic col-xs-12 col-sm-5 col-md-5 col-lg-5">
											<div class="ProImage">
												<img src="{{profilePicUrl}}" alt="Image" />
											</div>
										</div>
										<div class="Profile_Detail col-xs-12 col-sm-7 col-md-7 col-lg-7">
											<ul>
												<li><span class="boldTitle">{{"lbl_email" | translate}}</span><span>{{UserProfile.Email}}</span></li>
												<li><span class="boldTitle">{{"lbl_name" | translate}}</span><span>{{UserProfile.FirstName}} {{UserProfile.LastName}}</span></li>
												<li ng-show="UserProfile.CompanyId > 0"><span class="boldTitle">{{"lbl_personal" | translate}}</span>{{UserProfile.PersonalNumber}}<span></span></li>
												<li ng-show="UserProfile.CompanyId > 1"><span class="boldTitle">{{"lbl_company" | translate}}</span><span>{{UserProfile.Company}}</span></li>
												<li><span><img ng-src="data:image/png;base64,{{Barcode}}" alt=" barcode" /></span>   </li>
												<li><span class="edit"><button ng-click="pwdChangePage()">{{"lbl_passbutton" | translate}}</button>	</span></li>
												<!--<li><span class="edit"><a href="#/side-menu21/page20">Edit</a></span></li>-->
											</ul>

										</div>
									</div>
								</div>
							</div>


							<div class=" col-xs-12 col-sm-2 col-md-3 col-lg-3"></div>
						</div><!--Login-->
					</div><!--Product Row-->
				</div><!--ProductBox-->
			</div><!--Login_Page-->
		</div>
	</ion-content>
</ion-view>
<script type="text/javascript">

	//$("#mainimg").attr('src', 'data:image/jpeg;base64,' + base64);
</script>