<ion-view title="" id="page33" style="">

	<ion-content padding="'true'" class="has-header">

		<form name="userForm" class="addressForm" novalidate>
			<label id="customerInformation-input6" class="item item-input">
				{{"lbl_name" | translate}}: {{address.FirstName}}  {{address.LastName}}
			</label>


			<div class="form-group">
				<div class="label-name">

					{{"lbl_shipto" | translate}}:  {{address.FirstName}}  {{address.LastName}}


					<!--<select class="select_btn" ng-model="note" ng-options="note.Address1 + ',' + note.Address2 +',' + note.Email +','+ note.City +',' + note.ZipPostalCode +','+ note.CountryId +','+ note.StateProvinceId for note in mydataa track by note.Id" ng-change="check(note.Id, note.CountryId, note.StateProvinceId )">
						<option value="">Select Address</option>
					</select>-->
				</div>


			</div>

			<div class="form-group item item-input item-select item-positive">
				<select id="Add-slection" class="select_btn" ng-model="note"
						  ng-options="note.FirstName + ','+ note.Address1 + ',' + note.Address2 +','+ note.City  for note in AddressData track by note.Id"
						  ng-change="check(note.Id)">
					<option value="">{{"lbl_selectAdd" | translate}}</option>
				</select>

			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.address1.$invalid && !userForm.address1.$pristine }">

				<label class="item item-input">
					<input type="text" id="customerInformation-address1" placeholder="Address 1" name="address1" class="form-control" ng-model="note.Address1" required>
				</label>
				<p ng-show="userForm.address1.$invalid && !userForm.address1.$pristine" class="help-block"> {{"lbl_add1_required" | translate}} </p>
			</div>


			<div class="form-group" ng-class="{ 'has-error' : userForm.address2.$invalid && !userForm.address2.$pristine }">
				<label class="item item-input">
					<input type="text" id="customerInformation-addres2" placeholder="Address 2" name="address2" class="form-control" ng-model="note.Address2" required>
				</label>
				<!--<p ng-show="userForm.address2.$invalid && !userForm.address2.$pristine" class="help-block"> Address 2 is required.</p>-->
			</div>


			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label class="item item-input">
					<input type="email" id="customerInformation-email" placeholder="Email" name="email" class="form-control" ng-model="note.Email" required>
				</label>
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block"> {{"lbl_email_required" | translate}}</p>
			</div>


			<!--<label class="item item-input">
				<span class="input-label">Country</span>
				<select id="Country" ng-model="note.CountryId" ng-change="checkCountry()" ng-options="billGet.MYCOUNTRY for billGet in billdata track by billGet.ID"></select>
			</label>-->
			<!--<label class="item item-input">
				<span class="input-label">State</span>
				<select id="StateProvince" ng-model="note.StateProvinceId" ng-options="statenote.NAME for statenote in statesdata track by statenote.ID"></select>
			</label>-->

			<div class="form-group" ng-class="{ 'has-error' : userForm.City.$invalid && !userForm.City.$pristine }">
				<label class="item item-input">
					<input type="text" id="customerInformation-city" placeholder="City" ng-model="note.City" name="City" class="form-control" required>
				</label>
				<p ng-show="userForm.City.$invalid && !userForm.City.$pristine" class="help-block"> {{"lbl_city_required" | translate}}</p>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.Zip.$invalid && !userForm.Zip.$pristine }">
				<label class="item item-input">
					<input type="text" id="customerInformation-zipcode" placeholder="Zip" ng-model="note.ZipPostalCode" name="Zip" class="form-control" required />
				</label>
				<p ng-show="userForm.Zip.$invalid && !userForm.Zip.$pristine" class="help-block"> {{"lbl_zip_required" | translate}}</p>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.PhoneNumber.$invalid && !userForm.PhoneNumber.$pristine }">
				<label class="item item-input">
					<input type="text" id="customerInformation-phone" placeholder="Phone Number" ng-model="note.PhoneNumber" name="PhoneNumber" class="form-control" required>
				</label>
				<p ng-show="userForm.PhoneNumber.$invalid && !userForm.PhoneNumber.$pristine" class="help-block">{{"lbl_phone_required" | translate}}</p>
			</div>

			<!--<div class="form-group">
				<label class="item item-input">
					<input type="text" id="customerInformation-FaxNumber" placeholder="Fax Number" ng-model="note.FaxNumber" name="Fax" class="form-control" required />
				</label>

			</div>-->

			<button class="button button-positive  button-block next_btn" id="customerInformation-button2" ng-click="GotoConfirm()">{{"btn_go_confirm" | translate}}</button>
			<button id="customerInformation-button2" class="button button-positive button-block" ng-click="updateAddress()">{{"btn_save_and_update_add" | translate}}</button>
		</form>
	</ion-content>
</ion-view>


