<ion-view style="" id="page5" title="">
	<ion-content class="has-header" padding="true">
		<h2 style="color: rgb(94, 85, 85); text-align: justify;" id="signup-heading3">{{"lbl_welcome" | translate}}</h2>
		<div class="signup_form">
			<div class="show-list-numbers-and-dots" style="text-align:justify;" id="signup-markdown3">
				<p class="an-account" style="color:#3E3737;">{{"lbl_create_an_acc" | translate}}</p>  <p class="new_to" style="color:#3E3737;">{{"lbl_new_user" | translate}}</p>
			</div>
			<form class="list" id="signup-form3" name="userForm" novalidate>
				<ion-list>

					<div class="form-group" ng-class="{ 'has-error' : userForm.fname.$invalid && !userForm.fname.$pristine }">
						<label class="item item-input">
							<input type="text" placeholder="First Name" name="fname" ng-model="data.FirstName" required>
						</label>
						<p ng-show="userForm.fname.$invalid && !userForm.fname.$pristine" class="help-block">{{"err_fname_req" | translate}}</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : userForm.lname.$invalid && !userForm.lname.$pristine }">
						<label class="item item-input">
							<input type="text" placeholder="Last Name" name="lname" ng-model="data.LastName" required>
						</label>
						<p ng-show="userForm.lname.$invalid && !userForm.lname.$pristine" class="help-block">{{"err_lname_req" | translate}}</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label class="item item-input">
							<input type="email" placeholder="Email" name="email" ng-model="data.Email" required>
						</label>
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">{{"err_email_req" | translate}}</p>
					</div>

					<!--<div class="form-group" ng-class="{ 'has-error' : userForm.pwd.$invalid && !userForm.pwd.$pristine }">
						<label class="item item-input">
							<input type="password" placeholder="Password" name="pwd" ng-model="data.Password" ng-minlength="4" required>
						</label>
						<p ng-show="userForm.pwd.$invalid && !userForm.pwd.$pristine" class="help-block">Password is required.</p>
					</div>-->



					<!--<div class="form-group" ng-class="{ 'has-error' : userForm.gender.$invalid && !userForm.gender.$pristine }">
						<input type="radio" name="gender" ng-model="data.Gender" value="Male" ng-checked="true" ng-change="SelectGender(data.Gender)">Male
						<input type="radio" name="gender" ng-model="data.Gender" value="Female" ng-change="SelectGender(data.Gender)">Female
					</div>-->
					<button ng-click="signup(data)" class="button button-energized button-block " ng-disabled="userForm.$invalid">{{"btn_signup" | translate}}</button>
				</ion-list>
			</form>
			<div class="show-list-numbers-and-dots" id="signup-markdown4">
				<p style="color:#3E3333;">{{"lbl_agreement_text" | translate}} <a href="#/side-menu21/page36">gebruikersvoorwaarden</a> {{"lbl_agreement_text1" | translate}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
