<ion-view title="" id="page13" style="">
  <ion-content padding="true" class="has-header">
 
<div class="Thankspage"> 

	<div class="ProductBox">
	<div class="row">
	<div class="ProductTitle Thanks col-xs-12 col-sm-12 col-md-12 col-lg-12">     
	</div>
	</div><!--Tittle Row-->

	<div class="row">
	<div class="Thanking col-xs-12 col-sm-12 col-md-12 col-lg-12">  
	<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"> </div>

	<div class="Thanks_Content col-xs-12 col-sm-10 col-md-10 col-lg-10">

	<h1>DANK VOOR UW BESTELLING</h1>
	<p>Een bevestiging van deze bestelling is gestuurd naard x</p>

	<p>Levertijd: op werkdagen besteld, morgen in huis</p>

	<p>U kunt ook het besterloverzicht raadplegen en uw bestelstatus online bekijken</p>


	</div>

	<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"> </div>


	</div>
	</div><!--Tittle Row-->





	</div><!--Product Breakfast Box-->

</div>

  </ion-content>
</ion-view>