/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

    #owl-demo .item{
        margin: 3px;
		padding:0;
    }



.owl-theme .owl-controls{
margin-top: 10px;
text-align: center;
width: 1200px;
height: 40px;
position: relative;
z-index: 999;
margin-left: auto;
margin-right: auto;
}
.owl-pagination {
    float: right;
    margin-right: 28px;
	position: relative;
	z-index: 999;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: transparent;
    display: inline-block;
	font-size: 25px;
    font-weight: 500;
}

.owl-theme .owl-controls .owl-buttons .owl-prev::before{content:"<"; color:#363636;}
.owl-theme .owl-controls .owl-buttons .owl-next::before{content:">"; color:#363636;float: right;}
.owl-theme .owl-controls .owl-buttons .owl-prev {float: left;}
.owl-theme .owl-controls .owl-buttons .owl-next {float: right;}
.owl-buttons {width: 140px;top: 5px;position: absolute;right: 0;}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	margin: 5px 7px;
	font-size: 25px;
	font-weight: 500;
	color: #363636;
}
.owl-theme .owl-controls .owl-page.active span{
	color:#7bbc00;
}
.owl-theme .owl-controls .owl-page:first-child span::before{content:"1";}
.owl-theme .owl-controls .owl-page:nth-child(2) span::before{content:"2";}
.owl-theme .owl-controls .owl-page:last-child span::before{content:"3";}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}







/* 
 * 	Core Owl Carousel CSS File
 *	v1.23
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow:visible;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
