/* Empty. Add your own CSS if you like */
/*banner*/


.ion-navicon::before{font-size:31px;}

.bar .buttons-left span {
    display: inline-block;
    margin-right: 5px;
}

/*.popup-head{
  height: 30px !important;
  background: Blue  !important;
}
.popup-title {
  color: #fff !important;
}

.popup-body{
  background: White !important;
  color:#fff !important;
  font-size:24px !important;
}

.popup-buttons {
  height: 80px !important;
}*/

.help-block {
	   color: #a94442;
}

 /*.has-header {
    top: 25px;
}*/

.ForPrinting ul li a {cursor: pointer;}

body {font-family: "Raleway",Arial,sans-serif;color: #363636;}
a:focus{outline:none;}
a:hover, a:focus {text-decoration:none;}
.row{margin:0;padding: 0;}
.row + .row {margin-top:0;padding-top: 0;}
.ProductTitle {padding: 0;}
.Banner_img img {width: 100%;}
.Banner {padding: 0;}
.button-1 {background: #7bbc00;color: #fff;border: 2px solid #7bbc00;font-weight: 700;padding: 5px 25px;}
.item, .item a {background: transparent;color: #fff;border-left: 0;border-right: 0;}
#menu-list-item4 .item-divider:first-child {margin-top: 10px;}
#menu-list-item4 .item-divider:last-child {border-bottom: 0;padding-bottom: 0;}
.products.under-Container {margin:0;width:100%;}
.Titel h1 {padding: 0;font-size: 25px;text-align: center;margin-top: 35px;color: #7bbc00;font-weight: 900;padding: 10px 0 20px 0;}
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast {height: auto;background: #fff;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 14px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;}
.ProductText .Text p {font-size: 12px;}
.QtyCart span input {font-size: 14px;width: 50px;}
.QtyCart span button {font-size: 14px;padding: 0px 5px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.products .ProductImg img {width: 100%;cursor: pointer;}
.QtyCart span.qty::before {display:none;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width: 120px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
.products .Product {background: #fff none repeat scroll 0 0;border: 2px solid #7bbc00;margin: 10px 0;padding: 10px;}
.bar-stable.bar.bar-header {background-color: #fabe0e;border-bottom: 0;height: 70px;}
.bar-stable .button.button-clear {color: #fff;border: 1px solid #fff;border-radius: 10px;margin-left: 5px;padding: 0 9px;margin-top: 8px;display: inline-block;line-height: 1;min-height: 36px;visibility: visible !important;}
/*.bar-stable .button.button-clear {color: #fff;border: 1px solid #fff;border-radius: 10px;margin-left: 10px;padding: 0 9px;margin-top: 10px;display: inline-block;}*/
.bar .buttons-left span.left-buttons a.navbar-brand {display: inline-block;float:none;}
.bar .buttons-left span {margin: 0;padding: 0 3px;}
.item-complex .item-content, .menu .scroll-content {background: #7bbc00;color:#fff;font-weight: 600;}
.navbar-brand img {width: 47px;margin-left: 5px;}
/*.navbar-brand img {width: 50px;margin-left: 15px;}*/
.navbar-brand {float:none;height: auto;padding: 6px 0;font-size: 18px;line-height: 1;display: inline-block;visibility: visible !important;}
/*#menu-list-item1 {margin-top: 23px;}*/
.bar.bar-stable .title {color: #fff;margin-top: 11px;}
.bar-stable .buttons.buttons-left {width: 100%;}
.bar .buttons-left span.left-buttons {width: 100%;}
.payment_form {width: 100%;}
.toggle-Options{z-index:99999; position:fixed;margin-top: 8px;visibility: visible !important;}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/
#owl-demo .item{margin: 3px;}
#owl-demo .item img{display: block;width: 100%;height: auto;}
.owl-theme .owl-controls{margin-top: 10px;text-align: center;width: 1200px;height: 40px;position: relative;z-index: 999;margin-left: auto;margin-right: auto;}
.owl-pagination {float: right;margin-right: 28px;position: relative;z-index: 999;}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div{color: transparent;display: inline-block;font-size: 25px;font-weight: 500;}
.owl-theme .owl-controls .owl-buttons .owl-prev::before{content:"<"; color:#363636;}
.owl-theme .owl-controls .owl-buttons .owl-next::before{content:">"; color:#363636;float: right;}
.owl-theme .owl-controls .owl-buttons .owl-prev {float: left;}
.owl-theme .owl-controls .owl-buttons .owl-next {float: right;}
.owl-buttons {width: 140px;top: 5px;position: absolute;right: 0;}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;text-decoration: none;}
/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{display: inline-block;zoom: 1;*display: inline;/*IE7 life-saver */}
.owl-theme .owl-controls .owl-page span{display: block;margin: 5px 7px;font-size: 25px;font-weight: 500;color: #363636;}
.owl-theme .owl-controls .owl-page.active span{color:#7bbc00;}
.owl-theme .owl-controls .owl-page:first-child span::before{content:"1";}
.owl-theme .owl-controls .owl-page:nth-child(2) span::before{content:"2";}
.owl-theme .owl-controls .owl-page:last-child span::before{content:"3";}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);/*IE7 fix*/opacity: 1;}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{height: auto;width: auto;color: #FFF;padding: 2px 10px;font-size: 12px;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
/* preloading images */
.owl-item.loading{min-height: 150px;background: url(AjaxLoader.gif) no-repeat center center}
/* 
* 	Core Owl Carousel CSS File
*	v1.23
*/
/* clearfix */
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
/* display none until init */
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow:visible;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing { cursor:url(grabbing.png) 8 8, move;}
/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:    hidden;-ms-backface-visibility:     hidden;}
/* CSS3 Transitions */
.owl-origin {-webkit-perspective: 1200px;-webkit-perspective-origin-x : 50%;-webkit-perspective-origin-y : 50%;-moz-perspective : 1200px;-moz-perspective-origin-x : 50%;-moz-perspective-origin-y : 50%;perspective : 1200px;}
/* fade */

/*ion-slides#home-slider1 {margin-top: 25px;}*/
/*prducts*/
.ProductTitle.breakfast, .ProductTitle.lunch, .ProductTitle.Drink, .ProductTitle.News, .ProductTitle.Promo, .Login_Page .ProductTitle.breakfast {height: auto;background: #fff;}
.ProductContent .ProductName span, .ProductContent .ProductName p {font-size: 14px;	margin-bottom: 5px;}
.ProductContent {padding-right: 0;padding-left: 7px;}
.ProductText .Text p {font-size: 12px;}
.QtyCart span button::after {background-size: 19px 13px;font-size: 15.5px;}
.DrinkBox .products .Product.top, .LunchBox .products .Product.top, .products .Product.top {margin-top:0;}
.ProductContent .ProductName p {width: 120px;}
.Arrow {width: 29px;display: inline-block;text-align: center;height: 29px;background: #7bbc00;}
.PageNumbers {float:none;font-size: 20px;text-align: center;}
.PageNumbers span a.Arrow {color: #fff;}
.ProductBox.LunchBox, .ProductBox.DrinkBox{margin-top: 60px;}
/*cart*/
.Cart_Page .Cart .heading {display: none;}
.Cart_Page .Cart .responsive{padding: 7px 0;text-align: center;background: #7bbc00;color: #fff;font-weight: 900;font-size: 12px;}
.Cart_Page .Cart .responsive .Desc {text-align: left;padding: 0;}
.Cart_Page .Cart .responsive .price {text-align: right;padding: 0;}
.Cart_Page .Cart .Content {border: 1px solid #7bbc00;text-align: center;color: #7bbc00;font-weight: 600;margin-top: 10px;padding: 10px;}
.Cart_Page .Cart .Content .image {max-width: 190px;padding: 0;}
.Cart_Page .Cart .Content .image img {width: 100%;max-width: 170px;}
.Cart_Page .Cart .Content .cart_ProductText {margin-top: 5px;text-align: left;padding: 0;}
.Cart_Page .CartDetail {display: flex !important; flex-direction: column; display: -webkit-box;-webkit-box-orient: vertical;}
.Cart_Page .Cart .Content .nameCartProduct {font-size: 12px;font-weight: 700;margin-bottom: 3px;text-align: left;color: #363636;}
.Cart_Page .Cart .Content .priceDiv {float: right;text-align: right;margin-top: 8px;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group: 2;padding-right: 0;}
.Cart_Page .Cart .Content .priceDiv::before {content: 'EENHEID PRIJS:';font-size: 11px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .Cart .Content .Tot::before {content: 'TOTALE PRIJS:';font-size: 11px;text-align: left;float: left;color: #363636;font-weight: 700;}
.Cart_Page .Cart .Content input {margin: auto;width: 40px;text-align: center;border: 1px solid #7bbc00;color: #363636;position: relative;z-index: 1;height: 24px;}
.Cart_Page .Cart .cartincdec {width:78px;background:#7bbc00;position:absolute;top: 0;height: 24px;left: 0;right: 0;margin: auto;}
.Cart_Page .Cart .cartincdec .inc.buttoncart {font-size: 24px;left: 5px;top: -4px;float: left;color: #fff;position: absolute;cursor: pointer;}
.Cart_Page .Cart .cartincdec .dec.buttoncart {font-size: 26px;right: 4px;top: -8px;float: right;color: #fff;position: absolute;cursor: pointer;}
.Cart_Page .qtyDiv {padding: 0;width: 78px;margin-left: 15px;text-align: center;}
.Cart_Page .Cart .Content .Tot {text-align: right;display: block !important;order: 2;width: 100%;-webkit-box-ordinal-group: 2;padding-right: 0;}
.Cart_Page .Cart .deleteIcon {text-align: right;position: absolute; top: 21px; font-size: 20px; padding-right: 0; right: 0;float: right;width: 50px;}
.Cart_Page .Cart .deleteIcon a {color: #7bbc00;}
.Cart_Page .CartTotel{border-top:1px solid #7bbc00;border-bottom:1px solid #7bbc00;padding:10px 15px;display:block;margin-top:15px;text-align:center;font-weight:700;}
.Cart_Page .rightAlign .CheckoutBtn {padding: 0;}
.Cart_Page .CartTotel .Total{background:transparent;color:#363636;border-bottom:0;text-align:left;}
.CartTotel .Ammount{border:0;text-align: right;}
.Cart_Page .CartValid {margin-top: 10px;border-bottom: 1px solid #7bcc00;padding-bottom: 10px;}
.Cart_Page .CartValid .ValidName {font-size: 12px;padding-right: 0;line-height: 12px;font-weight: 600;}
.Cart_Page .CartValid.Loyality-div p {margin-top: 10px;}
.Cart_Page .CartValid .ValidName p.code {margin-top: 10px;line-height: 1;}
.Cart_Page .CartValid .ValidText {padding: 0;}
.Cart_Page .CartValid .ValidText input {height: 32px;width: 100%;border: 1px solid #7bbc00;padding: 0 7px;}
.Cart_Page .CartValid .ValidBtn {padding-left: 0;}
.Cart_Page .CartValid .ValidBtn button {font-size: 12px;color: #fff;background: #7bbc00;border: 0;font-weight: 700;padding:7.5px;width: 100%;}
.scroll.padding {padding:0;}
.Cart_Page .DoorgaanBtn {padding:0 15px;margin:15px 0;width:100%}
.Cart_Page .DoorgaanBtn button {color: #fff;background: #7bbc00;border: 0;font-weight: 700;padding: 9px;width: 100%;font-size: 12px;}
.Cart_Page .CartTotel .rightAlign {text-align: right;padding-right: 0;}
.Cart_Page .CartTotel .rightAlign .CheckoutBtn button {font-size: 12px;}
.Cart_Page #Applied-Coupon-Section {margin-left: 5%;}
.Cart_Page .ProductTitle {padding: 0 10px;}

.Cart_Page .page-title {padding: 0 15px;}
.Cart_Page .page-title h2 {font-size: 26px;font-weight: 700;line-height: 1;margin-bottom: 0;margin-top: 50px;}
.Cart_Page .Confirm-Div .buttons {padding: 0 15px;margin: 10px 0 0;}
.Cart_Page .payment-method-info {margin: 15px;border: 2px solid #7bbc00;padding: 10px;}
.Cart_Page .billing-info-wrap {width: 100%;}
.Cart_Page .payment-method-info .title {padding: 0 15px;font-size: 28px;}
.Cart_Page .payment-method-info ul{padding-left: 15px;}

.optionclass input#orderTextbox {border: 1px solid #7bbc00; width:123px !important;}
.Cart_Page .optionclass input#orderTextbox, .Cart_Page .validatecss {display:inline-block;}
.Cart_Page .validatecss {vertical-align: middle;position: relative;top: 6px;}
.Cart_Page .optionclass {padding-left: 15px;}
.Cart_Page .optionclass:last-child {padding-left:0}
.Cart_Page .ValidPoint {padding: 5px;}
.Cart_Page .ValidName {padding-left: 15px;}

/*My Order*/
.Your_order .orderedProducts .orderItems .OrderProductDetail p span:first-child, .Your_order .orderedProducts .orderItems .OrderProductDetail ul li span.OrderProName {font-weight: 800;font-size: 14px;}
.Your_order .orderedProducts .orderOption a p {font-weight: 800;color: #7bbc00;}
.Your_order .orderedProducts{ max-width: 260px;margin: 20px auto 30px;}
.Your_order .order_title h4 {text-align: center;}

/*view_order_detail*/
.view_order_detail .orderDetail ul li {display: inline-block;}
.view_order_detail .orderDetail ul li:first-child{font-weight:800;}
.view_order_detail {padding: 0 15px;}
.view_order_detail .orderDetail ul li button.button {color: #fff;background: #7bbc00;padding: 0 5px;min-height: 35px;font-size: 12px;line-height: 35px;}

/*Profile*/
.Profile_Page .ProInfo .ProDetail, .Profile_Page .ProInfo .ProDetail .row, .Profile_Page .Profile_Detail ul {padding: 0;}
.Profile.Title {display: none;}
.Profile_Page .ProInfo .ProDetail .Profile {padding: 5px 0;text-align: center;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Profile.Name {background: #7bbc00;}
.Profile_Page .ProInfo .ProDetail .Order_Detail .Name button {color: #fff;background: transparent;font-weight: 700;border: 0;}
.Profile_Page .Order_Detail .Profile_Detail {padding-left: 15px;height: 195px;overflow: auto;margin-top: 15px;}
.Profile_Page .Profile_Detail ul {margin-top: 20px;margin-bottom: 0;}
.Profile_Page .Order_Detail .Profile_Detail ul li span.boldTitle {font-weight: 800;font-size: 14px;margin-right: 5px;}
.Profile_Page .Order_Detail .Profile_Detail ul li:first-child {text-align: center;margin-bottom: 28px;}
.Profile_Page .Profile_Detail ul li {line-height: 23px;}
.greenText {color: #7bbc00;}
.Profile_Page .Order_Detail .Profile_Detail ul li span.SMboldTitle {font-weight: 600;margin-right: 5px;}
.Profile_Page .Order_Detail .Profile_Detail ul li span {font-weight: 400;font-size: 13px;}
.Profile_Page .ProSize {border: 1px solid #7bbc00;margin: auto;}
/*product*/
.ProductPage .Titel h1 {margin: 30px 0;padding: 0;}
.ProductPage .ProductTitle.lunch, .ProductPage .ProductBox.LunchBox, ProductPage.ProductBox.DrinkBox {margin-top: 0;height: auto;}
.products .ProductImg {padding: 0;overflow: hidden;}
.ProductContent .ProductName p {width: 120px;}
.ProductContent .ProductName p {float: left;font-weight: 700;color: #363636;cursor: pointer; white-space:normal;}
.ProductContent .ProductName span {float: right;font-weight: 700;color: #7bbc00;}
.ProductText .Text p {font-size: 14px;white-space: normal;}
.QtyCart span input {border: 2px solid #7bbc00;font-weight: 700;text-align: center;height: 26px;float: left;}
.QtyCart span button {font-weight: 700;color: #fff;background: #7bbc00;border: 2px solid #7bbc00;float: right;}
.QtyCart span button::after {content: "AA";background-image: url(../img/cart.png);width: 30px;height: 30px;background-repeat: no-repeat;background-position: center;color: transparent;background-size: 19px 13px;font-size: 15.5px;}
.PageNumbers span.active a {color: #7bbc00;}
.PageNumbers span a {color: #363636;}
/*product Detail*/
.Product-Detail_Page .Detail_Page {border: 1px solid #7bbc00;display: table;padding-top: 15px;}
.Product-Detail_Page .PD-Image .row > img {width: 100%; max-height: 300px; height:auto;}
.Product-Detail_Page .PD-Image ul {justify-content: space-around;display: flex;width: 230px;margin: auto;}
.Product-Detail_Page .PD-Image ul li img {width: 69px;}
.Product-Detail_Page .PD-Image ul li {margin: 20px 0;display: inline-block;}
.PD-Detail h3 {margin-top: 40px;text-align: center;color: #7bbc00;font-weight: 700;width: 100%;}
.PD-Detail .text {text-align: center;padding: 0;margin: 15px 0;font-size: 16px;}
.PD-Detail .Price {text-align: center;font-weight: 700;color: #7bbc00;font-size: 18px;margin: 15px 0;width: 100%;}
.PD-Detail .QtyCart {width: 255px;margin: 0 auto 10px;padding-left: 0;}
.PD-Detail .QtyCart span button {padding: 0 15px;font-size: 14px;margin-left: 18px;float: none;top: 4px;position: relative;}
.PD-Detail .QtyCart span input {width: 60px;font-size: 18px;float:none;display:inline-block;height:31.15px;}
.PD-Detail .QtyCart span.qty::before{display: inline-block;}
.QtyCart span.qty::before {content: "Qty.";margin-right: 7px;}
.PD-Detail .QtyCart span button::after {font-size: 19px;}
.PD-Detail .Review {width: 160px;margin: 15px auto 0;}
.PD-Detail .Review span ul li, .PD-Detail .Review span {display: inline-block;}
.PD-Detail .Review span ul {padding-left: 2px;}
.PD-Detail .Review span ul li {margin: 0 1px;}
.yellow {color: #ffbd00;}
.gray {color: #dddddd;}
.PD-Detail .ForPrinting {width: 171px;margin: 0 auto 15px;}
.FullNews-OtherOption .FullNews-OtherNeed ul li a, .ForPrinting ul li a {color: #7bbc00;}
.ForPrinting ul {font-size: 32px;}
.ForPrinting ul li {display: inline-block;margin: 0 10px;}
#carousel-example-generic h5 {margin: 75px auto 10px;}
.Product-Detail_Page .tcb-product-slider .carousel-control span i {color: #7bbc00;}
.item.active{background-color:transparent;}
.Product-Detail_Page .tcb-product-slider .carousel-control {position: absolute;top: 50%;text-shadow: inherit;opacity: 1;}
.Product-Detail_Page .carousel-control.left, .Product-Detail_Page .carousel-control.right {background: none;}
.Product-Detail_Page .tcb-product-slider .carousel-control span {position: relative;top: -50%;}
.Product-Detail_Page .tcb-product-info {padding: 5px;text-align: center;font-weight: 700;}
.Product-Detail_Page .tcb-product-item a {color: #363636;}
.Product-Detail_Page .tcb-product-price {color: #7bbc00;}
/*login $ signup*/
.login_img {text-align: center;margin: 50px 0 0;}
.login_img .Titel h1 {font-size: 38px;}
.signup_form, .login_form {padding: 0 15px;}
.signup_form .item-input, .login_form .item.item-input {border: 1px solid #7bbc00;width: 100%;height: 34px;padding: 0 10px;margin-top: 15px;}
.login_form .button.button-positive.button-clear, .signup_form .button, .login_form .button {width: 100%;background: #7bbc00;color: #fff;font-weight: 800;border: none;opacity: 1;border-radius: 0;margin-top: 20px;}
	.login_form .button:hover {color: #fff;}
.login_form .check-forget.item.item-checkbox {border: 0;float: left;padding-left: 40px;}
.login_form .input-label {font-size: 14px;width: 160px;padding: 5px;}
.login_form .button.button-positive.button-clear {margin: 0;padding: 0;}
.login_form .checkbox input:checked::before, .login_form .checkbox input:checked + .login_form .checkbox-icon::before {background: #7bbc00;border-color: #7bbc00;}
.login_form .inputs.reversed {margin: 20px 0;}
.login_form .inputs.reversed span.forgot-password {float: right;}
.login_form .inputs.reversed span.forgot-password a {color: #7bbc00;font-weight: 700;}
.button.button-stable.active, .button.button-stable.activated {border-color: #7bbc00;background-color: #7bbc00;}
.Register .ProSize .fieldset .title {font-size: 20px;text-decoration: underline;margin: 15px 0;text-align: center;}
.Register .ProSize .fieldset .form-fields .inputs {margin: 5px 0;}
.Register .ProSize .fieldset .form-fields .inputs input {width: 95%;margin: 5px 0;border: 1px solid #7bbc00;display: inline-block;height: 24px;padding: 0 5px;}
.Register .ProSize .fieldset .form-fields .inputs select {border: 1px solid #7bbc00;width: 31.7%;margin: 5px 0;}
.Register .ProSize .fieldset .form-fields .inputs select:nth-child(2) {border-left: 0;border-right: 0;}
.Register .ProSize .buttons .register-next-step-button {width: 100%;}
h2#signup-heading3 {margin-left: 10px;	margin-top: 32px;}
.email-a-friend-page textarea {color: #000;	}
.AddReviews-page .product-review-list .title {text-align: center;  color: #7bbc00; }
.item.active,.item.activated,.item-complex.active .item-content,.item-complex.activated .item-content,.item .item-content.active,.item .item-content.activated {border-color: transparent;background-color:transparent; }


/*News*/
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {width: 100%;margin: 15px 0 4px;}
.Blogpage .products.newsContent, .Blogpage .products.newsContent1, .Newspage .products.newsContent, .Newspage .products.newsContent1 {text-align: center;}
.Blogpage .ProductContent .ProductName p, .Newspage .ProductContent .ProductName p {color: #7bbc00;}
.Blogpage .ProductText p, .Newspage .ProductText p {font-size: 12px; text-align:justify;}
.ProductText, .ProductText > div, .ProductName > div, .ProductName {padding: 0;margin: 0;}
button {font-size: 14px;font-weight: 700;color: #fff;background: #7bbc00;padding: 3px 18px;border: 2px solid #7bbc00;}
.Newspage .ProductContent {padding: 0; margin-bottom:30px;}
.Newspage .PageNumbers {display: none;}
.LoadMore button {width: 100%;margin: 20px 0;}
.FullNews .FullNews-Img img {width:275px;}
.FullNews .FullNews-Img, .NewsInside_page .FullNews-Content, .FullNews-Content .col-xs-12 {padding: 0;}
.FullNews-Name > div > p {display: inline-block;color: #363636;font-size: 14px;font-weight: normal;text-align: justify;}
.NewsInside_page {text-align: center;	}
.FullNews-Name > div > p a {color: #7ccb00;}
.FullNews-Name > div > p strong em {font-style: italic;}

/*Profile_Page*/
.Profile_Page .ProInfo .ProDetail .Profile {display: none;}
.Profile_Page .ProSize {width: 100%;padding: 10px;border: 1px solid #7bbc00;margin: auto;}
/*thanks*/
.Thanking {margin-top: 0;text-align: center;}
.Thanking .Thanks_Content {background: #fff;}
.Thanking > .Thanks_Content > h1 {font-size: 30px;padding: 30px 0 25px;font-weight: 900;color: #7bbc00;}
.Thanking > .Thanks_Content > p {font-size: 12px;margin-top: 12px;font-weight: 700;}
.Profile_Page .ProInfo .ProDetail .fullProfile {margin: 0 auto;}
.Profile_Page .ProPic .ProImage {text-align: center;}
.Profile_Page .Profile_Detail {margin-top: 15px;}
.Profile_Page .Profile_Detail ul {margin-top: 20px;margin-bottom: 0;}
.Profile_Page .Profile_Detail ul li {line-height: 23px;}
.Profile_Page .Profile_Detail ul li span.boldTitle {font-weight: 700;margin-right: 5px;}
.Profile_Page .Profile_Detail ul li span {font-weight: 500;}
.Profile_Page .Profile_Detail ul li span.edit {top: 0;position:relative;}
.Profile_Page .row{display:block;}
.Profile_Page .Profile_Detail ul li span.edit a, .greenText {color: #7bbc00;}
.Profile_Page .Profile_Detail ul li {line-height: 23px;}
/*Promo*/
.Promopage .products .Product {margin-top: 18px !important;padding: 10px;border-width: 1px;}
.ProductOffer img {width: 100%;}
.PromoOffer > div {margin-left: auto;margin-right: auto;float: none;}
.PromoOffer > div {text-align: center;margin-top: 15px;}
.PromoOffer .ForPrinting {margin-top: 5px;}
.PromoOffer a.Get_Promo {display: none;}
.PromoOffer a.Read_Now {display: block;}
.PromoOffer button {font-size: 10px;font-weight: 700;color: #fff;background: #7bbc00;padding: 10px 5px 10px 12px;border: 2px solid #7bbc00;width: 100%;}
.ProductOffer, .Promopage .ProductContent, .Promopage .Text {padding: 0;}
.Blogpage .ProductContent, .Newspage .ProductContent {padding: 10px;border: 2px solid #7bbc00;margin:15px 0 0;}
.Blogpage .PageNumbers {display: none;}
.Blogpage .products .Product, .Newspage .products .Product{border: none;}
.Blogpage .products .ProductImg img, .Newspage .products .ProductImg img{width: 275px;}


/*Page16 Order page*/
.row.CartTotel {font-size: 12px;}
.squre-btn-div { background: #7bbc00 none repeat scroll 0 0; color: #fff;padding: 3px;}
.row.CartTotel > div.row {padding-bottom: 10px;}
.col-xs-5.col-sm-5.col-md-2.col-lg-2.rightAlign {text-align: right; padding:0}
.col-xs-7.col-sm-7.col-md-2.col-lg-2.leftAlign {text-align: left;}
.Cart.col-xs-12.col-sm-12.col-md-12.col-lg-12 {padding: 0 5px !important;}
.col-xs-7.col-sm-7.col-md-2.col-lg-2 {padding: 0;}
.col-xs-6.col-sm-6.col-md-6.leftAlign {padding: 0;text-align: left;}
.col-xs-6.col-sm-6.col-md-6.ng-binding.rightAlign {margin: 0;text-align: right;}
.col-xs-4.col-sm-4.col-md-6.rightAlign {padding: 0;text-align: right;}
.loyality-div-text {margin: 4px auto;font-size: 10px;}
.CartValid.Loyality-div {width: 100%;}

	/*Pop ups*/
.popup-head {padding: 0px; border-bottom: none;}
.popup-body {padding: 20px;overflow: scroll;text-align: justify;}
 #CQty {z-index: 999999;}

 
/* payment-mathod*/
.mobileBox {width: 100%;float:none;}

.alertBG {background: rgba(0, 0, 0, 0.6);position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;z-index: 3;}


	.alert label {
    font-size: 4vw;
	 display: block;
}
 
 .alert {
    padding: 20px;
    background-color: #619e03;
    color: white;
	position: absolute;
    z-index: 4;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width:70%;
    display: table;
    margin: auto;
	text-align: center;
	font-size:12px;
}

.closebtn {
color:#7ccb00;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
font-size: 4vw;
background: #fff;
padding: 2% 10%;
margin: 15px auto 0;
display: inline-block;
}


.closebtn:hover {
    color:#619e03;
}

iframe > tr:nth-child(2) td:first-child {
		display: none;
	}

#myiframe1 {
    height: 520px;
    margin-top: 10%;
    width: 100%;	
}

iframe, object, embed {
    max-width: 100%;
}

 
 iframe table.ncoltable1{float:left !important; width:320px !important;}
 	
	table.ncoltable1 {
		width: 95%;
	}

		table.ncoltable1 td {
			font-size: 12px;
		}

	table.ncoltable2 td {
		font-size: 13px;
	}

	.ncoltxtr > small {
		font-size: 12px !important;
	}
	
	table#ncol_ref {
    line-height: 1;
}

.swiper-wrapper {
	position: relative;
}
.swiper-slide {
	width: 33.33333333% !important;
}
.singleitem {
    text-align: center;
}
.singleitem span {
    display: block;
	 color: #363636;
	 font-weight: 700;
}

	.singleitem span.dvItem_price {
	  color: #7ccb00;
	}
.swiper-slide img {
	width: 107px;
}
.singleitem .itemdiv {
    height: 107px;
}


/*Email*/
.email-a-friend-page {margin:15px auto; width:290px;border: 1px solid #7bbc00;padding: 15px;margin-top: 68px;}
.email-a-friend-page h1 {margin: 0 0 20px 0;text-align: center;font-size: 28px;}
.email-a-friend-page .page-body .title h2 {font-size: 20px;text-align: center;margin: 7px 0 20px;}
.email-a-friend-page textarea, .page.email-a-friend-page  input {width: 98%;border: 1px solid#7bbc00;padding: 5px;margin-top: 5px;font-weight: normal;font-size: 14px;}
.email-a-friend-page .button {text-align: center;margin: 15px 0 0;background:#7bbc00}
.email-a-friend-page .item-input {margin-top: 5px;}
.email-a-friend-page .billing-info {padding: 10px;}
.email-a-friend-page .help-block {color: #F00;font-size: 12px;margin: 0;}
.email-a-friend-page .form-group label {display: none;}
.email-a-friend-page .form-group label.item.item-input {display: inline-block;border: none;padding: 0;width: 96%; overflow: visible;}
.email-a-friend-page .form-group span {display: inline-block;height: 35px;vertical-align: super;color: #f00;}
.validatecss { font-size:28px !important; color:#CC1100;}

/*AddReviews*/
.AddReviews-page  {padding: 15px;}
.AddReviews-page .email-a-friend-page {margin-top: 25px;}
.AddReviews-page .page-title {margin-top: 25px;padding: 0 15px;}
.AddReviews-page .page-title h1 {font-size: 22px;margin-top: 15px;text-align: center;font-weight: 700;}
.AddReviews-page .page-title h1 a {color: #7bbc00;}
.AddReviews-page .Review-title {font-size: 18px;text-align: center;margin: 0 0 15px;}
.AddReviews-page .email-a-friend-page .form-group label {display:inline-block;width: 90px;margin-top: 0;}
.AddReviews-page .email-a-friend-page .form-group label.item.item-input{display:inline-block;width:auto;}
.AddReviews-page .email-a-friend-page input, .AddReviews-page .email-a-friend-page textarea {display:inline-block;width: 165px;font-weight: normal;font-size: 12px;}
.AddReviews-page .email-a-friend-page ul li.rating-options input{width:auto}
.AddReviews-page ul li.label.first, .AddReviews-page ul li.label.last {display: none;}
.AddReviews-page .email-a-friend-page .button {min-height: 34px;line-height: 1;border-radius: 0;font-size: 14px;}
.AddReviews-page .form-group {margin-bottom:5px;}

/*others*/
.product-review-list {border: 1px solid #7bbc00;padding: 15px;margin-top: 15px;}
.vote-options span:first-child {color: green;font-weight: 600;}
.vote-options span:last-child {color: red;font-weight: 600;}
.Homepage .ProductSlide .slide-button button{border-radius: 20px;	 padding: 7px 11px;line-height: 1;opacity:0.5;transition: all 0.3s ease-in-out;}
.Homepage .ProductSlide .slide-button button:hover {opacity:1;}
.PD-Detail .Review .product-review-links span {}
.PD-Detail .Review {width: 230px;}
.PD-Detail .Review .product-review-links, .PD-Detail .Review span {display: inline-block;}
.PD-Detail .Review .product-review-links span.product_review, .PD-Detail .Review .product-review-links a {color: #7bbc00;cursor: pointer;}
.button.button-energized.active, .button.button-energized.activated {border-color: #e6b500;background-color: #e6b500; }
.Cart_Page.orderdetails .Content .nameCartProduct {margin-bottom: 0;}
.Cart_Page.orderdetails .qtyDiv {margin-left: 10px;}
.email-a-friend-page .form-group{margin-bottom:0}
.AddReviews-page .email-a-friend-page .help-block {text-align: right;}
.emptyCart {position: relative;top: 50px !important;text-align: center;color: #7ccb00;font-weight: bold;}
#menu-list-item4 .item-divider, .item-complex .item-content {cursor: pointer;}

/*Slider Section*/


.swiper-container {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden; }	 
ion-slides {
  width: 100%;
  height: 100%;
  display: block; }


.swiper-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0; }

.swiper-slide {
  width: 100% !important;
  height: 100% !important;
  box-sizing: border-box;
   }
  
.slide-zoom {
  display: block;
  width: 100%;
  text-align: center; }



  .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.optionclass {
	padding-left :20px;
	font-weight:bold;
}

#StateProvince> option, #Country > option {
    color: #000;
}


/*addressForm*/
.addressForm {
    margin-top: -10px;
}

.addressForm .button.button-positive {
    background-color: #7bbc00;
    border-radius: 0;
}

.addressForm .item-select.item-positive select, .addressForm .item.item-positive {
    border-color: #ddd;
    background-color: #ddd;
	 color: #363636;
}

.addressForm .item-select.item-positive::after, .addressForm .item-select.item-positive .input-label {
    color: #363636;
}
.addressForm .form-control {box-shadow: none;font-weight: normal;}
.addressForm .has-error .form-control, .addressForm .form-control:focus {
    border: none;
    box-shadow: none;
}
.addressForm .form-group {
    margin-bottom: 0;
}

.addressForm .form-group .item-input {
    padding: 5px 15px;
}
.addressForm .form-group.has-error p {
    padding-right: 15px;
    padding-left: 15px;
}
.addressForm .item.item-positive {
    display: list-item;
}
.addressForm .form-group .label-name {
	font-weight: 700;
    padding: 10px 15px;
}
.addressForm .item-select.item-positive select {
    width: 100%;
    text-align: left;
    float: none;
    max-width: 100%;
}
.popup-container.active .popup {background:#619e03;padding:15px;}
.popup-container.active .popup .popup-head {color: #fff;}
.popup-container.active .popup .popup-body {padding: 15px 0;overflow:hidden;}
.popup-container.active .popup .popup-buttons {padding: 0;min-height:auto;}
.popup-container.active .popup .popup-buttons .button {height: 33px;background: #fff;color: #619e03;min-height: auto;font-size: 14px;}

/*edit profile*/
.update-form #signup-form3 .disable-user-behavior .item.item-input {border: none;padding: 5px 0;}
.update-form #signup-form3 .disable-user-behavior .item-divider.item {border: none;}
.update-form #signup-form3 .disable-user-behavior .item.item-input input {border: 1px solid #7bbc00;padding: 5px;}
.update-form #signup-form3 .disable-user-behavior .button-balanced {background-color: #7bbc00;border-radius: 0;}
.update-form #signup-form3 .disable-user-behavior .list {padding:10px;}
.update-form #signup-form3 .disable-user-behavior .editProfileImg {text-align: center; margin-bottom: 18px;}
 .update-form #signup-form3 .disable-user-behavior .editProfileImg  img{max-width: 200px;}
.editProfileBtn {width: 290px;margin: auto;margin-bottom: 20px;}
.update-form #signup-form3 .disable-user-behavior input.gender {margin-right: 3px;}


.bar-stable.bar.bar-header .back-button {max-height: 36px;position:absolute; right:0; top: 10px;}
.bar-stable.bar.bar-header .back-button .back-text {line-height: 30px;}

.item-complex .item-content, .item-radio .item-content {padding:16px;}
.continueShop {margin-bottom:10px;} 


/*.ShopCategory p {padding: 16px;font-size: 16px;font-weight: 600;border-bottom: 1px solid #ddd;}
.ShopCategory .categoryListing li {padding: 16px 0;border-bottom: 1px solid #ddd;margin: 0 0 0 50px;list-style-image: url('../img/arrow.png');}
.ShopCategory .categoryListing li a {color:#fff;cursor: pointer;}
.ShopCategory .categoryListing li:last-child {border-bottom: 0;padding-bottom: 10px;}*/
.categoryLink {margin:15px 0;justify-content: space-around;}
.categoryLink a {color:#7bbc00;font-weight: bold;font-size: 16px;}
.categoryLink a:hover, .categoryLink a:focus, .categoryLink a.active  {text-decoration: underline;    color: #5e8f02;}

